<h1>Welcome to Kenny's School</h1>

<h3>Teachers</h3>

<!-- list names of all teachers -->
<% @teachers.each do |teacher| %>
  <h3><%= "#{teacher.first_name} #{teacher.last_name}" %></h3>
  <!-- select maximum and minimum age for each teachers students -->
  <p>Oldest student: <%= teacher.oldest_student %> | Youngest student: <%= teacher.youngest_student %>
<!-- list all teachers students -->
    <% teacher.students.each do |student| %>
      <p>
        <ul>
          <li>
        <%= "#{student.first_name} #{student.last_name}" %>
        </li>
      </ul>
      </p>
  <% end %>
<% end %>
